In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df = pd.read_csv('C:/Users/HP/Downloads/insurance_data.csv')
df

,InvoiceNo,Product,Quantity,UnitPrice,CustomerID,State
0,10000,Homeowners' Insurance,3,5.747914,54553,TR
1,10000,Study Insurance,3,1.220767,54553,TR
2,10000,Fire Insurance,1,2.051622,54553,TR
3,10000,Whole Life Insurance,3,4.557482,54553,TR
4,10000,Travel Insurance,2,5.078652,54553,TR
...,...,...,...,...,...,...
499995,99999,Automobile Insurance,3,7.233516,58849,AN
499996,99999,Retirement Insurance,1,1.877695,58849,AN
499997,99999,Fire Insurance,2,1.999556,58849,AN
499998,99999,Homeowners' Insurance,3,4.251349,58849,AN
499999,99999,Travel Insurance,3,6.696683,58849,AN

In [3]:
df = df.drop_duplicates()
df

,InvoiceNo,Product,Quantity,UnitPrice,CustomerID,State
0,10000,Homeowners' Insurance,3,5.747914,54553,TR
1,10000,Study Insurance,3,1.220767,54553,TR
2,10000,Fire Insurance,1,2.051622,54553,TR
3,10000,Whole Life Insurance,3,4.557482,54553,TR
4,10000,Travel Insurance,2,5.078652,54553,TR
...,...,...,...,...,...,...
499995,99999,Automobile Insurance,3,7.233516,58849,AN
499996,99999,Retirement Insurance,1,1.877695,58849,AN
499997,99999,Fire Insurance,2,1.999556,58849,AN
499998,99999,Homeowners' Insurance,3,4.251349,58849,AN
499999,99999,Travel Insurance,3,6.696683,58849,AN

In [4]:
df['Product'].value_counts()

Product
Unit-Linked Insurance    45587
Study Insurance          45585
Term Life Insurance      45477
Homeowners' Insurance    45473
Whole Life Insurance     45473
Travel Insurance         45472
Retirement Insurance     45427
Endowment Insurance      45400
Health Care Coverage     45389
Automobile Insurance     45360
Fire Insurance           45357
Name: count, dtype: int64

In [5]:
df['ID'] = df.index
df

,InvoiceNo,Product,Quantity,UnitPrice,CustomerID,State,ID
0,10000,Homeowners' Insurance,3,5.747914,54553,TR,0
1,10000,Study Insurance,3,1.220767,54553,TR,1
2,10000,Fire Insurance,1,2.051622,54553,TR,2
3,10000,Whole Life Insurance,3,4.557482,54553,TR,3
4,10000,Travel Insurance,2,5.078652,54553,TR,4
...,...,...,...,...,...,...,...
499995,99999,Automobile Insurance,3,7.233516,58849,AN,499995
499996,99999,Retirement Insurance,1,1.877695,58849,AN,499996
499997,99999,Fire Insurance,2,1.999556,58849,AN,499997
499998,99999,Homeowners' Insurance,3,4.251349,58849,AN,499998
499999,99999,Travel Insurance,3,6.696683,58849,AN,499999

In [6]:
df['State'].value_counts()
df

,InvoiceNo,Product,Quantity,UnitPrice,CustomerID,State,ID
0,10000,Homeowners' Insurance,3,5.747914,54553,TR,0
1,10000,Study Insurance,3,1.220767,54553,TR,1
2,10000,Fire Insurance,1,2.051622,54553,TR,2
3,10000,Whole Life Insurance,3,4.557482,54553,TR,3
4,10000,Travel Insurance,2,5.078652,54553,TR,4
...,...,...,...,...,...,...,...
499995,99999,Automobile Insurance,3,7.233516,58849,AN,499995
499996,99999,Retirement Insurance,1,1.877695,58849,AN,499996
499997,99999,Fire Insurance,2,1.999556,58849,AN,499997
499998,99999,Homeowners' Insurance,3,4.251349,58849,AN,499998
499999,99999,Travel Insurance,3,6.696683,58849,AN,499999

In [7]:
basket_AP = (df[df['State'] == 'AP'].groupby(['InvoiceNo', 'Product'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
basket_AR = (df[df['State'] == 'AR'].groupby(['InvoiceNo', 'Product'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
basket_AS = (df[df['State'] == 'AS'].groupby(['InvoiceNo', 'Product'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
basket_BR = (df[df['State'] == 'BR'].groupby(['InvoiceNo', 'Product'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
basket_CG = (df[df['State'] == 'CG'].groupby(['InvoiceNo', 'Product'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
basket_GA = (df[df['State'] == 'GA'].groupby(['InvoiceNo', 'Product'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
basket_GJ = (df[df['State'] == 'GJ'].groupby(['InvoiceNo', 'Product'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
basket_HR = (df[df['State'] == 'HR'].groupby(['InvoiceNo', 'Product'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))

In [8]:
def encode_units(x):
    if x<= 0:
        return 0
    if x >= 1:
        return 1

basket_encoded = basket_AP.map(encode_units)
basket_AP = basket_encoded

basket_encoded = basket_AR.map(encode_units)
basket_AR = basket_encoded

basket_encoded = basket_AS.map(encode_units)
basket_AS = basket_encoded


basket_encoded = basket_BR.map(encode_units)
basket_BR = basket_encoded

basket_encoded = basket_CG.map(encode_units)
basket_CG = basket_encoded

basket_encoded = basket_GA.map(encode_units)
basket_GA = basket_encoded

basket_encoded = basket_GJ.map(encode_units)
basket_GJ = basket_encoded

basket_encoded = basket_HR.map(encode_units)
basket_HR = basket_encoded

In [9]:
#Apriori
frequent_itemsets = apriori(basket_AP, min_support=0.07, use_colnames=True)
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
rules = rules.sort_values(['confidence', 'lift'], ascending = [False, False])
rules

C:\Users\HP\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
617,"(Study Insurance, Endowment Insurance, Unit-Li...",(Homeowners' Insurance),0.128588,0.529296,0.073142,0.568807,1.074649,0.005081,1.091632,0.079714
494,"(Fire Insurance, Automobile Insurance, Term Li...",(Homeowners' Insurance),0.125049,0.529296,0.070783,0.566038,1.069416,0.004595,1.084665,0.074187
645,"(Fire Insurance, Study Insurance, Unit-Linked ...",(Homeowners' Insurance),0.127015,0.529296,0.071569,0.563467,1.064560,0.004340,1.078279,0.069468
481,"(Endowment Insurance, Health Care Coverage, Au...",(Homeowners' Insurance),0.130161,0.529296,0.073142,0.561934,1.061662,0.004248,1.074503,0.066772
687,"(Health Care Coverage, Whole Life Insurance, U...",(Study Insurance),0.127802,0.502556,0.071569,0.560000,1.114304,0.007341,1.130554,0.117609
...,...,...,...,...,...,...,...,...,...,...
733,(Homeowners' Insurance),"(Travel Insurance, Whole Life Insurance, Term ...",0.529296,0.128195,0.070783,0.133730,1.043173,0.002929,1.006389,0.087924
642,(Homeowners' Insurance),"(Fire Insurance, Study Insurance, Term Life In...",0.529296,0.132914,0.070783,0.133730,1.006137,0.000432,1.000942,0.012958
615,(Homeowners' Insurance),"(Study Insurance, Endowment Insurance, Term Li...",0.529296,0.128195,0.070389,0.132987,1.037377,0.002536,1.005527,0.076546
720,(Homeowners' Insurance),"(Study Insurance, Unit-Linked Insurance, Term ...",0.529296,0.131734,0.070389,0.132987,1.009507,0.000663,1.001445,0.020008
682,(Homeowners' Insurance),"(Fire Insurance, Unit-Linked Insurance, Term L...",0.529296,0.132127,0.070389,0.132987,1.006503,0.000455,1.000991,0.013726

In [15]:
rules[(rules['lift'] >= 1.1) & (rules['confidence'] >= 0.5)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
687,"(Health Care Coverage, Whole Life Insurance, U...",(Study Insurance),0.127802,0.502556,0.071569,0.560000,1.114304,0.007341,1.130554,0.117609
535,"(Fire Insurance, Study Insurance, Health Care ...",(Endowment Insurance),0.127802,0.497444,0.071176,0.556923,1.119569,0.007602,1.134241,0.122449
520,"(Study Insurance, Health Care Coverage, Automo...",(Whole Life Insurance),0.130554,0.502556,0.072355,0.554217,1.102796,0.006745,1.115888,0.107211